body {
  font: 16px sans-serif;
  margin: 0;
  color: #547;
}

main {
  display: flex;
  justify-content: center;
}

li {
  margin: 8px 0;
}

dl {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 8px 30px;
  margin-left: 20px;
}

dt {
  grid-column: 1;
}

dd {
  grid-column: 2;
  margin: 0;
}

.center {
  padding: 0 30px;
  background-color: #f5ffff;
}

@media screen and (min-width: 600px) {
  .center {
    width: 600px;
  }
}

.tetris {
  display: flex;
  justify-content: center;
}

.tetris canvas {
  max-width: 100%;
  max-height: 90vh;
}
