body {
  font: 16px sans-serif;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .center {
    width: 600px;
  }
}

h1 {
  display: flex;
  justify-content: center;
}

dl {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 8px 30px;
  margin-left: 20px;
}

dt {
  grid-column: 1;
}

dd {
  grid-column: 2;
  margin: 0;
}

h1 > img {
  width: 70%;
}

#tetris {
  display: flex;
  justify-content: center;
}

canvas {
  max-width: 100%;
  max-height: 90vh;
}
